<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pier dives</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Elsie|Montserrat|Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Londrina+Outline&display=swap" rel="stylesheet">

<body>
<div class= "top-welcome">
  <% if logged_in? %>
    <h4 class="welcome-h3">Wecome back <span class = "name-font"><%= current_user.username %><span></h4>
    <form action="/sessions" method = "post">
      <input type="hidden" name= "_method" value= "delete">
      <button class="my-account-btn">logout</button>
    </form> 
    <a class="account-font" href="/my_account">My account</a>
    <a class="account-font" href="/">Home</a>
  <% end %>
</div>
  <%= yield %>
</body>
</html>

