<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pier dives</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Elsie|Montserrat|Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Londrina+Outline&display=swap" rel="stylesheet">
<body>



  <%# <form action="/sign_up">
      <input type="hidden" name="signup">
      <button>sign up</button>
  </form> %>

  <% if logged_in? %>
    <h3>Wecome back <%= current_user.username %></h3>
    <a href="/my_account">My account</a>
    
    <form action="/sessions" method = "post">
      <input type="hidden" name= "_method" value= "delete">
      <button>logout</button>
    </form>
    
<% end %>

<%#else %>
     <%# <a href="http:/login/">login</a> %>


    <%# <form action="/login">
      <input type="hidden" name="login">
      <button>login</button>
  </form> %>
  
  <%= yield %>

</body>
</html>

