<h1>login</h1>

<h3>You do not have an account yet? sign up,<a href="/sign_up"> here</a></h3>

<form action="/sessions" method ="post">
    <label for="">email</label>
    <input type="text" name= "email">
    <label for="">password</label>
    <input type="password" name ="password">
    <button>login</button>
</form>