<h1>Sign up!</h1>

<form action="/users" method ="post">
    <label for="">username</label>
    <input type="text" name="username">
    <label for="">email</label>
    <input type="text" name= "email">
    <label for="">password</label>
    <input type="password" name ="password">
    <button>sign up</button>
</form>