<body id= "signup_image" background="https://i.imgur.com/SZYR95a.jpg">
  <div class="signup">
    <div>
      <h2>Create account</h2>
    </div>  
    <div>
      <form action="/users" method ="post">
        <label for="">username</label>
        <input type="text" name="username">
        <label for="">email</label>
        <input type="text" name= "email">
        <label for="">password</label>
        <input type="password" name ="password">
        <button>sign up</button>
      </form>
    </div>
  </div>
</body>