.weather {
    display: inline;
}

img {
    width: 50vw;

}

figure {
    /* text-align: center; */
    display: table;
    border: thin silver solid;
    border-radius: 7%;
    /* border-top: none; */
    padding-top: 0;
    margin: 0.5em;
  
    /* font-size: smaller; */
    text-indent: 0;
}

figcaption {
    display: table-caption;
    caption-side: top;
    padding: 0.5em;

}


.uwphotos img{
    /* display: inline-block; */
    /* display:table; */
    width: 200px;
    /* width: 100%; */
    height: 200px;
    margin: auto;
    border-radius: 9%;
    object-fit: cover;
    padding: 0.5em;
} 

figcaption a:hover {
    color: #82d3f5; 
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; 
}
    
.uwphotos {
    /* display:flex;
    flex-wrap: wrap; */
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

/* .index_photos {
    margin-top: 10%;
} */
header {
    margin-bottom:10%;
}

/* not working! */
.index_section { 
    /* display: inline; */
    margin-left: 15%;
    margin-right: 15%;
}

.background {
    padding: 1em;
    padding-bottom:0;
    background: linear-gradient(270deg, #8ed7f6, #82d3f5,#b1dee2, #178cbe);
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
   }
   
#h1 {
    margin-bottom: 0;
    font-size: 3em;
    font-family: 'Elsie', cursive;
    text-shadow: 1px 1px 3px rgb(190, 245, 249);  
         
}

#h2 {
    
    margin:0 0 0 15%;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid rgb(190, 245, 249); 
}

ul {
 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(270deg, #8ed7f6, #82d3f5,#b1dee2, #178cbe);
}
    
li {
    padding-top: 0;
    float:right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:rgb(186, 238, 240);
  }

  
#login_image {
    
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    /* background-size: cover; */
    -webkit-background-size: cover;
    margin: 3em auto;
    color:white;
    background-repeat: no-repeat;
}

.login {
    text-align: center;
}

button {
    background:none;
    color: white;
    size:inherit;
    border-radius:10%;
    border: 1px solid white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;   
}

button:hover { /* Green */
    color: white;
    background-color:#95d0f0;
}


#signup_image {
    
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    /* background-size: cover; */
    -webkit-background-size: cover;
    margin: 3em auto;
    color:white;
    background-repeat: no-repeat;
}

.signup {
    text-align: center;
}

.container {
    width: 100%;
    padding-bottom: 20px;
    background: linear-gradient(270deg, #8ed7f6, #82d3f5,#b1dee2, #178cbe);
}
.show-img {
        display: inline-block;
        vertical-align: top;
        width: 46%;
        margin: 20px;
    }

.pier-text {
    display: inline-block;
    text-align: justify;
    width: 46%;
    @media (max-width: 620px) {
    width: 100%;
    }
}

.weather {
    border-top:1px solid rgb(190, 245, 249);
    font-size:1em;
    font-family:'Raleway', sans-serif;
    display:inline-block;
    text-align: center;
    /* margin-left:; */
    @media (max-width: 620px){
        width: 100%;
    }
}
.tide-wind {
    font-family:'Londrina Outline', cursive;
    font-size:1.5em;
}

.weather a:hover {
    color: rgb(190, 245, 249);
    transition-duration: 0.3s;
}

.btn-comment , .btn-photo {
    background:none;
    color:  rgb(190, 245, 249);
    size:inherit;
    border-radius:10%;
    border: 1px solid white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
}  

.bottom-half {
    width: 100%;
    padding-bottom: 20px;
    /* background: linear-gradient(270deg, #8ed7f6, #82d3f5,#b1dee2, #178cbe); */
}

/* @media screen and (max-width: 1024px){
        img.bg {
        left: 50%;
        margin-left: -512px; }
    } */